<footer class="footer">
    <div>
        <h3>Friends of Valkenberg</h3>
        <p>Supporting mental health through community and care.</p>
    </div>

    <div>
        <h4>Quick Links</h4>
        <a href="/Home/About">About</a>
        <a href="/Home/Events">Events</a>
        <a href="/Home/Donate">Donate</a>
    </div>

    <div>
        <h4>Contact</h4>
        <p>Email: info@fovt.org</p>
    </div>

    <div>
        <p>© 2026 FOVT | NPO Registered</p>
    </div>
</footer>