@{
    ViewData["HeroTitle"] = "Resources";
    ViewData["HeroSubtitle"] = "Helpful information about mental health and recovery.";
}

<partial name="_PageHero" />

<section>
    <h1>Community & Resources</h1>

    <div class="gallery" id="gallery">
        <img src="/images/img1.jpg" />
        <img src="/images/img2.jpg" />
        <img src="/images/img3.jpg" />
    </div>
</section>